<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @presenter.destination_name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @presenter.destination_zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @presenter.destination_description %>
  </p>

  <%= image_tag(@presenter.destination_image_url) %>

  <div class="row">
    <h4>Forecast for <%= @presenter.destination_name %>:</h4>
    <ul>
      <% @presenter.forecast_10_day.each do |day| %>
        <li class="day">
          <%= day.date %>
          <%= "High (F): #{day.high_temp}" %>
          <%= "Low (F): #{day.low_temp}" %>
          <%= "Conditions: #{day.conditions}" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
